* {
    margin: 0;
    padding: 0;
    /* overflow-x: hidden; */
}

/*---------------Change-mode--------------------*/

.body-dark-mode {
  background-color: #33333B;
}

.header-dark-mode {
  background-color: #b5b5ae;
  color: black;
}

.label-dark-mode {
  color: white;
}

.display-msg-dark-mode {
  color: white;
}

.change-mode-dark-mode {
  background: linear-gradient(rgb(187, 177, 177) , #5C5346) !important;
}

.change-mode-dark-mode:hover {
  height: 65px;
  width: 65px;
  background: linear-gradient(rgb(146, 140, 140) , #484137) !important;
}

.button-dark-mode {
  background-color: #b5b5ae !important;
  color: black !important;
  transition-duration: 0.2s;
}

.button-dark-mode:hover {
  background-color: #92928a !important;
}

.footer-dark-mode {
  background-color: #b5b5ae;
  color: black;
}

/*---------------Change-mode--------------------*/


header {
  height: 140px;
  background-color: #862539;
  width: 100vw;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  color: white;
}

#logo {
  height: 100px;
  width: 80px;
  margin-bottom: 20px;
}

#logo-container {
  display: flex;
}

#logo-container p {
  margin-top: 30px;
}

.change-mode {
  height: 60px;
  width: 60px;
  background: linear-gradient(#ec7876 , #8b172e);
  position: absolute;
  right: 40px;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid black;
  transition-duration: 0.2s;
}

.change-mode i {
  font-size: 25px;
}

.change-mode:hover {
  height: 65px;
  width: 65px;
  background: linear-gradient(#cf6a69 , #791428) ;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-color: #E0D08C;
  flex-direction: column;
}

.container {    
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  margin-top: 15px;
}

.main {
  height: 200px;
  width: 500px;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: sans-serif;
}

.amount-input {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  margin-top: 30px;
  font-size: 20px;
}

input {
  height: 35px;
  width: 160px;
}

.input-grp {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

#add-new-item {
  height: 50px;
  width: 140px;
  margin-top: 35px;
  background-color: #862539;
  border-radius: 10px;
  color: white;
  border: 2px solid whitesmoke;
  font-size: 16px;
  transition-duration: 0.2s;
}

#add-new-item:hover {
  height: 55px;
  width: 145px;
  font-size: 18px;
  background-color: #752232;
}

.items-list {
  width: 70vw;
  margin-top: 40px;
  background-color: white;
  max-height: 530px; 
  overflow-y: auto;  
  margin-left: 30px;
}

.items-table {
  width: 100%;
  text-align: center;
  font-size: 25px;
}

.items-table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
    padding: 10px;
}


input {
  border: 0px solid black;
  outline: none;
  border-radius: 4px;
  width: fit-content;
  padding: 4px 8px;
  font-size: 20px;
  width: 150px;
}



.rupee-input {
  display: flex;
  align-items: center;
  border: 1px solid black;
  border-radius: 4px;
  background-color: white;
}

.rupee-input span {
  font-size: 20px;
  margin-right: 6px;
  color: black;
  margin: 4px 8px;
}


.rupee-input input {
  border: none;
  outline: none;
  font-size: 16px;
}

input[type="date"] {
  width: 140px;
}

#item {
  outline: 1.2px solid black;
  width: fit-content;
  height: 40px;
  width: 230px;
}

#price-box {
  text-align: center;
}

#price { 
  width: 210px; 
  border: 1.2px solid black;
  border-radius: 5px;
  padding: 5px 10px;
  gap: 8px;
  display: inline-block;
}


.calc-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;
}

.calc-expense {
  margin-top: 50px;
  border-radius: 20px;
  height: 55px;
  width: 180px;
  font-size: 16px;
  background-color: #862539;
  color: white;
  border: 2px solid whitesmoke;
  font-size: 17px;
  transition-duration: 0.2s;
}

.calc-expense:hover {
  height: 60px;
  width: 190px;
  font-size: 20px;
  background-color: #752232;
}

#display-msg {
  font-size: 30px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

#clear {
  border-radius: 20px;
  height: 50px;
  width: 100px;
  font-size: 16px;
  background-color: #862539;
  color: white;
  border: 2px solid whitesmoke;
  font-size: 18px;
  transition-duration: 0.2s;
}

#clear:hover {
  height: 55px;
  width: 110px;
  font-size: 20px;
  background-color: #752232;
}

button:hover {
  cursor: pointer;
}

footer{
  height: 60px;
  background-color: #862539;
  width: 100vw;
  margin-bottom: 0;
  align-items: center;
  color: white;
  padding: 50px;
  display: flex;
  text-align: center;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
  font-size: 25px;
}






@media screen and (max-width: 1000px) {

  /* .items-list {
    width: 70vw;
    margin-left: 0;
  } */

  .items-table th,
  .items-table td {
    font-size: 18px;
  }


  input[type="date"]  {
    font-size: 14px;
    width: 110px;
  }
  
  #item {
    width: 120px;
    height: 30px;
    font-size: 14px;
  }
  
  #price input {
    width: 100px;
    height: 25px;
    font-size: 14px;
  }
  
  #price {
    width: auto;
    height: 30px;
    overflow-y: hidden;
  }

}



@media screen and (max-width : 730px) {

  .input-price {
    width: 70px !important;
  }
  
}


@media screen and (max-width : 660px) {
  .items-list {
    width: 60vw;
  }

  .items-table td , 
  .items-table th {
    font-size: 12px;
  } 

  .input-price {
    width: 70px !important;
  }
  
  input[type="date"]  {
    font-size: 12px;
    width: 80px;
  }

  #item {
    width: 50px;
    height: 18px;
  }
  
  #price {
    width: 60px;
    height: 18px;
    text-align: left;
  }

  .input-price {
    width: 30px !important;
    margin-left: 0;
    height: 10px !important;
  }

}

@media screen and (max-width: 530px) {

  header {
    justify-content: space-between;
  }

  .rupee-input {
    width: 150px;
  } 

  #amount , #expense {
    width: 120px;
  }

}


@media screen and (max-width: 550px) {

  .items-table {
    overflow-x: auto;
  }
}